.card_wrapper_yt {
    transition: 0.4s ease-in-out;
}

.card_body_yt{
    position: relative;
    transition: 0.4s ease-in-out;
}

.card_wrapper_yt:hover .card_body_overly {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(39 62 84 / 63%);
}

.custom_delete_icon_wrapper {
    display: none;
}



.card_wrapper_yt:hover .custom_delete_icon_wrapper {
    display: block;
    transition: 0.4s ease-in-out;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #fff;
    border-radius: 0px 0px 0px 10px;
    top: 0;
    right: 0;
    z-index: 1;
}

.custom_delete_icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_icon {
    width: 25px;
    height: 25px;
}


.custom_play_icon {
    transition: 0.4s ease-in-out;
    display: none;
}

.card_wrapper_yt:hover .custom_play_icon {
    transition: 0.4s ease-in-out;
    display: block !important;
    width: 60px;
    height: 60px;
    position: absolute;
    color: #fff;
    z-index: 1;
    top: 35%;
    left: 39%;
}

.favorite-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-title {
    height: 50px !important;
    display: grid;
    align-items: center;
}

.favorite-icon button {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: none;
    background: #FEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-icon_color {
    color: rgb(255, 4, 0);
}